* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: lightblue;
}
.left-header {
    display: flex;
    justify-content: space-around;
    background-color: red;
}
.right-header  {
    display: flex;
    justify-content: space-around;
    background-color: orange;
}
.site-links {
    display: flex;
    flex-direction: column;
    background-color: yellow;
}
.dividers {
    display: flex;
    justify-content: space-between;
    background-color: green;
    align-items: stretch;
    flex-grow: 1;
}

.wall {
    background-color: blue;
    flex-grow: 1;
    padding: 1em;
    margin: 1em;
    border: .1em solid black;
}
.feeded-features {
    background-color: black;
}
.test {
    background-color: brown;
}

.list {
    list-style: none;
    padding: 1em 0 1em 0;
    margin: 0;
}
.events {
    width: 2em; /*width of your image*/
    background-image: url("./images/events.jpg");
    margin: 0; /* If you want no margin */
    padding: 0; /*if your want to padding */
}
